@using Models
@using StudentCalendar.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model IQueryable<Lesson>

<div class="container mt-5">
    <h1 class="text-center">Lessons schedule in @ViewData["NameGroup"]</h1>

    <div class="row mt-4">
        <div class="col">
            <table style="border-radius: 25px;" class="table table-bordered table-primary table-borderless">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">Time</th>
                        <th scope="col" style="width: 18%;">Monday</th>
                        <th scope="col" style="width: 18%;">Tuesday</th>
                        <th scope="col" style="width: 18%;">Wednesday</th>
                        <th scope="col" style="width: 18%;">Thursday</th>
                        <th scope="col" style="width: 18%;">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var time in new[] { "8:00-9:35", "9:50-11:25", "11:55-13:30", "13:45-15:20" })
                    {
                        <tr>
                            <th scope="row" style="width: 10%;">@time</th>
                            @foreach (var dayOfWeek in Enumerable.Range(1, 5))
                            {
                                var lesson = Model.FirstOrDefault(x => x.DayOfWeek == dayOfWeek && x.StartTime == TimeSpan.Parse(time.Substring(0, time.IndexOf('-'))));

                                @if (lesson != null)
                                {
                                    <td class="table-success" style="width: 18%;">
                                        <div>
                                            @lesson.Name
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="table-light" style="width: 18%;">
                                        <div></div>
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
