


<a asp-action="Index" asp-controller="Group">Features with Group</a>
<a asp-action="Index" asp-controller="Event">Features with Event</a>
<a asp-action="Index" asp-controller="User">Features with Users</a>