@using StudentCalendarAdmin.ViewModels
@model ForgotPasswordViewModel




<div class="row g-5">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Forgot your password</h4>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="needs-validation" novalidate="">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row g-3">
                <div class="col-12">
                    <label asp-for="Email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                    <input type="email" readonly value=" @ViewData["Email"]" asp-for="Email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit">Confirm!</button>
            </div>
        </form>
    </div>
</div>

@*<h1>Forgot your password?</h1>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success form-control">Submit</button>
        </div>
    </div>
    </div>
</form>*@