@model LoginViewModel
@using StudentCalendarAdmin.ViewModels
@using Microsoft.AspNetCore.Identity
@using StudentCalendarAdmin.Models
@inject SignInManager<AppUser> signInManager

<main class="form-signin w-10 m-auto">
    <form class="w-50" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" method="post" role="form">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input asp-for="UserEmail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label asp-for="UserEmail" for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label asp-for="Password" for="floatingPassword">Password</label>
        </div>

        <div class="form-check text-start my-3">
            <input asp-for="RememberMe" class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">@Html.DisplayNameFor(m => m.RememberMe)
            <label asp-for="RememberMe" class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button class="btn btn-success w-25 py-2" type="submit">Sign in</button>

        <p class="mt-5">
            <a class="btn btn-info" asp-action="Register"> Register as a new user?</a>
        </p>
        <p class="mt-1">
            <a class="btn btn-outline-primary" asp-action="ForgotPassword"> Forgot your passowrd?</a>
        </p>
    </form>
</main>
