@using Models
@model IQueryable<Group>

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Group List </h2>
    </div>
</div>
<a class="btn btn-success mb-3 p-3" asp-action="CreateGroup" asp-controller="Group">Create Group</a>
<ul class="list-group">
    <li class="list-group-item list-group-item-action list-group-item-primary ">
        <div class="row">
            <div class="col-md-4">Id</div>
            <div class="col-md-4">GroupName</div>
        </div>
    </li>
    @foreach (Group group in Model)
    {
        <li class="list-group-item">
            <div class="row ">
                <div class="col-md-4">@group.Id</div>
                <div class="col-md-4">@group.Name</div>
                <div class="col-md-4"><a class="btn btn-primary text-white" asp-action="Index" asp-controller="Lesson" asp-route-idGroup="@group.Id">View/Edit Lessons</a></div>
            </div>
        </li>
    }
</ul>
