@using Microsoft.AspNetCore.Identity;
@using StudentCalendar.Models;
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<AppUser> SignInManager;

<div style="text-align:center;" class="px-3">
    <h1 class="display-3 mb-3">Welcome in Student Calendar</h1>
    <div style="border-radius: 25px;" class="bg-info p-3 mt-4">
        <h2 class="mt-5 mb-5">Student Calendar: Your Schedule and University Events – All in One Place!</h2>
        <p class="mb-5">Our app, 'Student Calendar,' integrates your class schedule with unique features for university events. Plan your day, stay informed about all events – from important lectures to exciting sports activities. With the ability to easily add and participate in events, we make student life even more interesting and organized. Explore a new level of student organization and planning with the 'Student Calendar'!</p>

    </div>

    @if (!SignInManager.IsSignedIn(User))
    {
        <button type="button" class="btn btn-warning btn-lg p-3 mt-5" onclick="redirectToRegister()">Get Start!</button>
        <script>
            function redirectToRegister() {
                window.location.href = '/Account/Login';
            }
        </script>
    }
</div>

